In [2]:
import pandas as pd
import sqlite3 as sql

In [3]:
db = sql.connect('./Products.db')

In [8]:
query = 'SELECT * FROM Customers;'

#make cursor
cur = db.cursor()
cur.execute(query)
cur.fetchall()[0]

('1',
 'Alfreds Futterkiste',
 'Maria Anders',
 'Obere Str. 57',
 'Berlin',
 '12209',
 'Germany')

In [13]:
df = pd.read_sql(query, db)
df.head()

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,05021,Mexico
2,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,05023,Mexico
3,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK
4,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden

In [35]:
query = """
SELECT tbl_name
    FROM sqlite_master
;
"""
pd.read_sql(query,db)

       tbl_name
0    Categories
1     Customers
2     Employees
3      Shippers
4     Suppliers
5        Orders
6  OrderDetails
7      Products

In [52]:
query = """
SELECT * 
FROM Customers
;
"""
df = pd.read_sql(query,db)

In [56]:
pd.options.display.max_colwidth = 300
query = """
SELECT sql
    FROM sqlite_master
;
"""
pd.read_sql(query,db)
df[(df["Country"]=="Germany") | (df["City"]=="Paris")]

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
5,6,Blauer See Delikatessen,Hanna Moos,Forsterstr. 57,Mannheim,68306,Germany
16,17,Drachenblut Delikatessend,Sven Ottlieb,Walserweg 21,Aachen,52066,Germany
24,25,Frankenversand,Peter Franken,Berliner Platz 43,München,80805,Germany
38,39,Königlich Essen,Philip Cramer,Maubelstr. 90,Brandenburg,14776,Germany
43,44,Lehmanns Marktstand,Renate Messner,Magazinweg 7,Frankfurt a.M.,60528,Germany
51,52,Morgenstern Gesundkost,Alexander Feuer,Heerstr. 22,Leipzig,04179,Germany
55,56,Ottilies Käseladen,Henriette Pfalzheim,Mehrheimerstr. 369,Köln,50739,Germany
56,57,Paris spécialités,Marie Bertrand,265 boulevard Charonne,Paris,75012,France
62,63,QUICK-Stop,Horst Kloss,Taucherstraße 10,Cunewalde,01307,Germany
73,74,Spécialités du monde,Dominique Perrier,25 rue Lauriston,Paris,75016,France
78,79,Toms Spezialitäten,Karin Josephs,Luisenstr. 48,Münster,44087,Germany
85,86,Die Wandernde Kuh,Rita Müller,Adenauerallee 900,Stuttgart,70563,Germany

In [57]:
query = '''
SELECT * 
FROM Customers 
WHERE Country == 'Germany' OR City == "Paris"
;
'''
df = pd.read_sql(query,db)
df

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,6,Blauer See Delikatessen,Hanna Moos,Forsterstr. 57,Mannheim,68306,Germany
2,17,Drachenblut Delikatessend,Sven Ottlieb,Walserweg 21,Aachen,52066,Germany
3,25,Frankenversand,Peter Franken,Berliner Platz 43,München,80805,Germany
4,39,Königlich Essen,Philip Cramer,Maubelstr. 90,Brandenburg,14776,Germany
5,44,Lehmanns Marktstand,Renate Messner,Magazinweg 7,Frankfurt a.M.,60528,Germany
6,52,Morgenstern Gesundkost,Alexander Feuer,Heerstr. 22,Leipzig,04179,Germany
7,56,Ottilies Käseladen,Henriette Pfalzheim,Mehrheimerstr. 369,Köln,50739,Germany
8,57,Paris spécialités,Marie Bertrand,265 boulevard Charonne,Paris,75012,France
9,63,QUICK-Stop,Horst Kloss,Taucherstraße 10,Cunewalde,01307,Germany
10,74,Spécialités du monde,Dominique Perrier,25 rue Lauriston,Paris,75016,France
11,79,Toms Spezialitäten,Karin Josephs,Luisenstr. 48,Münster,44087,Germany
12,86,Die Wandernde Kuh,Rita Müller,Adenauerallee 900,Stuttgart,70563,Germany

In [6]:
Query = """
SELECT * FROM OrderDetails
WHERE Quantity >= 40
AND
OrderID in (
            SELECT OrderID 
            FROM (
                    SELECT A.*, B.CustomerName 
                    FROM Orders AS A 
                    LEFT JOIN
                        (
                            SELECT * 
                            FROM Customers 
                            WHERE CustomerName like '%Ernst%' 
                            OR 
                            CustomerName like '%Stop%'
                        ) AS B
                    ON A.CustomerID=B.CustomerID
                )
            );
"""
df = pd.read_sql(Query,db)
df

In [9]:
Query = """
SELECT A.*, B.CustomerID, B.CustomerName 
FROM 
(
    SELECT * 
    FROM OrderDetails
    WHERE Quantity >= 40
) AS A
INNER JOIN
(
    SELECT C.*, D.CustomerName 
    FROM Orders AS C
    INNER JOIN
    (
        SELECT * 
        FROM Customers 
        WHERE CustomerName like '%Ernst%' 
        OR 
        CustomerName like '%Stop%'
    ) AS D
    ON C.CustomerID=D.CustomerID
) AS B
ON A.OrderID = B.OrderID
;
"""
df = pd.read_sql(Query,db)
df

    OrderDetailID  OrderID  ProductID  Quantity  CustomerID  CustomerName
0              30    10258          2        50          20  Ernst Handel
1              31    10258          5        65          20  Ernst Handel
2              44    10263         16        60          20  Ernst Handel
3              46    10263         30        60          20  Ernst Handel
4             277    10351         44        77          20  Ernst Handel
5             356    10382         33        60          20  Ernst Handel
6             357    10382         74        50          20  Ernst Handel
7             379    10390         31        60          20  Ernst Handel
8             380    10390         35        40          20  Ernst Handel
9             381    10390         46        45          20  Ernst Handel
10            413    10402         23        60          20  Ernst Handel
11            414    10402         63        65          20  Ernst Handel
12            416    10403         48        70          20  Ernst Handel
13            482    10430         17        45          20  Ernst Handel
14            483    10430         21        50          20  Ernst Handel
15            485    10430         59        70          20  Ernst Handel
16            515    10442         54        80          20  Ernst Handel
17            516    10442         66        60          20  Ernst Handel
18             69    10273         40        60          63    QUICK-Stop
19            100    10285          1        45          63    QUICK-Stop
20            101    10285         40        40          63    QUICK-Stop
21            103    10286         35       100          63    QUICK-Stop
22            104    10286         62        40          63    QUICK-Stop
23            261    10345          8        70          63    QUICK-Stop
24            262    10345         19        80          63    QUICK-Stop
25            304    10361         39        54          63    QUICK-Stop
26            305    10361         60        55          63    QUICK-Stop
27            454    10418          2        60          63    QUICK-Stop
28            455    10418         47        55          63    QUICK-Stop

In [11]:
Query = """
SELECT B.OrderID, A.CustomerID, A.Address, A.Country 
FROM Customers AS A INNER JOIN Orders AS B
ON A.CustomerID = B.CustomerID
;
"""
df = pd.read_sql(Query,db)
df

     OrderID CustomerID                        Address      Country
0      10308          2  Avda. de la Constitución 2222       Mexico
1      10365          3                 Mataderos 2312       Mexico
2      10355          4                120 Hanover Sq.           UK
3      10383          4                120 Hanover Sq.           UK
4      10278          5                 Berguvsvägen 8       Sweden
5      10280          5                 Berguvsvägen 8       Sweden
6      10384          5                 Berguvsvägen 8       Sweden
7      10265          7               24  place Kléber       France
8      10297          7               24  place Kléber       France
9      10360          7               24  place Kléber       France
10     10436          7               24  place Kléber       France
11     10326          8                 C/ Araquil  67        Spain
12     10331          9           12  rue des Bouchers       France
13     10340          9           12  rue des Bouchers       France
14     10362          9           12  rue des Bouchers       France
15     10389         10             23 Tsawassen Blvd.       Canada
16     10410         10             23 Tsawassen Blvd.       Canada
17     10411         10             23 Tsawassen Blvd.       Canada
18     10431         10             23 Tsawassen Blvd.       Canada
19     10289         11              Fauntleroy Circus           UK
20     10259         13        Sierras de Granada 9993       Mexico
21     10254         14                   Hauptstr. 29  Switzerland
22     10370         14                   Hauptstr. 29  Switzerland
23     10290         15           Av. dos Lusíadas  23       Brazil
24     10435         16   Berkeley Gardens 12 Brewery            UK
25     10363         17                   Walserweg 21      Germany
26     10391         17                   Walserweg 21      Germany
27     10311         18   67  rue des Cinquante Otages       France
28     10364         19                 35 King George           UK
29     10400         19                 35 King George           UK
..       ...        ...                            ...          ...
166    10438         79                  Luisenstr. 48      Germany
167    10276         80               Avda. Azteca 123       Mexico
168    10293         80               Avda. Azteca 123       Mexico
169    10304         80               Avda. Azteca 123       Mexico
170    10319         80               Avda. Azteca 123       Mexico
171    10249         81        Av. Inês de Castro  414       Brazil
172    10292         81        Av. Inês de Castro  414       Brazil
173    10367         83                  Smagsløget 45      Denmark
174    10399         83                  Smagsløget 45      Denmark
175    10251         84             2  rue du Commerce       France
176    10334         84             2  rue du Commerce       France
177    10274         85             59 rue de l'Abbaye       France
178    10295         85             59 rue de l'Abbaye       France
179    10301         86              Adenauerallee 900      Germany
180    10312         86              Adenauerallee 900      Germany
181    10348         86              Adenauerallee 900      Germany
182    10356         86              Adenauerallee 900      Germany
183    10266         87                    Torikatu 38      Finland
184    10270         87                    Torikatu 38      Finland
185    10320         87                    Torikatu 38      Finland
186    10333         87                    Torikatu 38      Finland
187    10412         87                    Torikatu 38      Finland
188    10416         87                    Torikatu 38      Finland
189    10437         87                    Torikatu 38      Finland
190    10256         88             Rua do Mercado  12       Brazil
191    10420         88             Rua do Mercado  12       Brazil
192    10269         89    305 - 14th Ave. S. Suite 3B          USA
193    10344         89    305 - 14th Ave. S. Suite 3B          USA
194    10248         90                  Keskuskatu 45      Finland
195    10374         91                ul. Filtrowa 68       Poland

[196 rows x 4 columns]